body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #121212;
}

.register {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #a04545;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid rgb(255, 30, 30);
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(71, 151, 61);
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}